@page
@model RecruitCatNguyt5.Pages.JobTitles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobTitle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobTitle.Title" class="control-label"></label>
                <input asp-for="JobTitle.Title" class="form-control" />
                <span asp-validation-for="JobTitle.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.MinSalary" class="control-label"></label>
                <input asp-for="JobTitle.MinSalary" class="form-control" />
                <span asp-validation-for="JobTitle.MinSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle.MaxSalary" class="control-label"></label>
                <input asp-for="JobTitle.MaxSalary" class="form-control" />
                <span asp-validation-for="JobTitle.MaxSalary" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JobTitle.IsRemote" /> @Html.DisplayNameFor(model => model.JobTitle.IsRemote)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
