@page
@model OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}

<div class="text-center my-5">
    <h1>Meet Our Team</h1>
    <p class="lead">Our CEO and dedicated professional recruiters.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- You -->
    <div class="col">
        <div class="card h-100 shadow-sm text-center">
            <img src="https://img.icons8.com/ios-filled/100/000000/girl.png" class="card-img-top team-img mx-auto mt-3" alt="an Asian girl with long hair">
            <div class="card-body">
                <h5 class="card-title">Thi Nguyen</h5>
                <p class="card-text">Founder & CEO. Passionate about connecting top tech talent with companies that value innovation.</p>
            </div>
        </div>
    </div>

    <!-- Fictional Member 1 -->
    <div class="col">
        <div class="card h-100 shadow-sm text-center">
            <img src="https://img.icons8.com/ios-filled/100/000000/boy.png" class="card-img-top team-img mx-auto mt-3" alt="a middle-aged White man with brown hair">
            <div class="card-body">
                <h5 class="card-title">Alex Johnson</h5>
                <p class="card-text">Head of Recruitment. Expert in talent sourcing and building strong candidate networks.</p>
            </div>
        </div>
    </div>

    <!-- Fictional Member 2 -->
    <div class="col">
        <div class="card h-100 shadow-sm text-center">
            <img src="https://img.icons8.com/ios-filled/100/000000/girl.png" class="card-img-top team-img mx-auto mt-3" alt="a middle-aged White woman with curly dark hair and glasses">
            <div class="card-body">
                <h5 class="card-title">Honey Bee</h5>
                <p class="card-text">Client Relations Manager. Ensures exceptional partnership and client satisfaction.</p>
            </div>
        </div>
    </div>
</div>

<style>
    .team-img {
        width: 120px;
        height: auto;
        border-radius: 50%;
    }
</style>
