@page
@model BankAccount.Pages.BankAccounts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BankAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BankAccount.BankAccountId" />
            <div class="form-group">
                <label asp-for="BankAccount.AccountNumber" class="control-label"></label>
                <input asp-for="BankAccount.AccountNumber" class="form-control" />
                <span asp-validation-for="BankAccount.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.AccountName" class="control-label"></label>
                <input asp-for="BankAccount.AccountName" class="form-control" />
                <span asp-validation-for="BankAccount.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.Balance" class="control-label"></label>
                <input asp-for="BankAccount.Balance" class="form-control" />
                <span asp-validation-for="BankAccount.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.DateOpened" class="control-label"></label>
                <input asp-for="BankAccount.DateOpened" type="date" class="form-control" />
                <span asp-validation-for="BankAccount.DateOpened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.AccountHolderId" class="control-label"></label>
                <select asp-for="BankAccount.AccountHolderId" class="form-control" asp-items="ViewBag.AccountHolderId"></select>
                <span asp-validation-for="BankAccount.AccountHolderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
